// Media

// $mobile-se: "max-width: 492px";
// $mobile-sm: "max-width: 575px";
// $mobile: "max-width: 767px";
// $tablet: "max-width: 991px";
// $desktop-sm: "max-width: 1199px";
// $desktop: "max-width: 1280px";
// $desktop-lg: "max-width: 1640px";


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1380px,
  xxl: 1400px

);

$container-max-widths: (
  sm: 100%,
  md: 720px,
  lg: 80%,
  xl: 80%,
  xxl: 1350px
);


