
    <header class="header header_right">
        <div class="container"> 
            <div class="row">
              <div class="col-12">
                  <div class="header__wrapper">

                        <div class="header-left__logo align-self-center">
                            <a href="index.html"><img src="img/logo.svg" alt="logo"></a>
                        </div>
                        
                        <div class="container__header-right align-self-center">

                            <nav class="header-right__menu text-center">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about_us.html">About us</a></li>
                                    <li><a href="education.html">Education</a></li>
                                    <li><a href="broker_reviews.html">Broker review</a></li>
                                    <li><a href="how_to_choose.html">How to choose a broker</a></li>
                                    <li><a href="compare_forex_brokers.html">Compare forex brokers</a></li>
                                </ul>
                            </nav>

                            <div class="header__burger align-self-center">
                                <span></span>
                            </div>
                            
                        </div> 
                  </div> 
              </div>
            </div> 
        </div>
    </header>
 
